API_InventoryManagement/.vs
API_InventoryManagement/API_InventoryManagement/bin
API_InventoryManagement/API_InventoryManagement/obj
Client_InventoryManagement/.vs
Client_InventoryManagement/Client_InventoryManagement/bin
Client_InventoryManagement/Client_InventoryManagement/obj
