API_InventoryManagement/.vs
API_InventoryManagement/API_InventoryManagement/bin
API_InventoryManagement/API_InventoryManagement/obj
Client_InventoryManagement/.vs
Client_InventoryManagement/Client_InventoryManagement/bin
Client_InventoryManagement/Client_InventoryManagement/obj
Client_InventoryManagement/Client_InventoryManagement/obj/staticwebassets.pack.sentinel
Client_InventoryManagement/Client_InventoryManagement/obj/project.nuget.cache
Client_InventoryManagement/Client_InventoryManagement/obj/project.assets.json
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/staticwebassets.development.json
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/staticwebassets.build.json
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/refint/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/ref/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.pdb
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.GeneratedMSBuildEditorConfig.editorconfig
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.csproj.FileListAbsolute.txt
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.csproj.CoreCompileInputs.cache
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.csproj.AssemblyReference.cache
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.assets.cache
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/apphost.exe
Client_InventoryManagement/Client_InventoryManagement/obj/Client_InventoryManagement.csproj.nuget.dgspec.json
Client_InventoryManagement/Client_InventoryManagement/obj/staticwebassets.pack.sentinel
Client_InventoryManagement/Client_InventoryManagement/obj/project.nuget.cache
Client_InventoryManagement/Client_InventoryManagement/obj/project.assets.json
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/staticwebassets.development.json
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/staticwebassets.build.json
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/refint/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/ref/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.pdb
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.GeneratedMSBuildEditorConfig.editorconfig
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.csproj.FileListAbsolute.txt
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.csproj.CoreCompileInputs.cache
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.csproj.AssemblyReference.cache
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/Client_InventoryManagement.assets.cache
Client_InventoryManagement/Client_InventoryManagement/obj/Debug/net6.0/apphost.exe
Client_InventoryManagement/Client_InventoryManagement/obj/Client_InventoryManagement.csproj.nuget.dgspec.json
Client_InventoryManagement/Client_InventoryManagement/bin/Debug/net6.0/appsettings.json
Client_InventoryManagement/Client_InventoryManagement/bin/Debug/net6.0/Client_InventoryManagement.deps.json
Client_InventoryManagement/Client_InventoryManagement/bin/Debug/net6.0/Client_InventoryManagement.dll
Client_InventoryManagement/Client_InventoryManagement/bin/Debug/net6.0/Client_InventoryManagement.exe
Client_InventoryManagement/Client_InventoryManagement/bin/Debug/net6.0/Client_InventoryManagement.pdb
Client_InventoryManagement/Client_InventoryManagement/bin/Debug/net6.0/Client_InventoryManagement.staticwebassets.runtime.json
